   # Python Interview Question for Bakery Management System With Sql

In [1]:
import sqlite3

In [2]:
# Create database connnection
conn = sqlite3.connect('bakery.db')

#Create Cursor
c = conn.cursor()

#Create table 
c.execute('''
        CREATE TABLE system_users(User_Name TEXT, 
        Id INTEGER PRIMERY KEY,
        Order_item TEXT,
        Mobile_Num INTEGER)''')
# Insert Data Into Table
c.execute("INSERT INTO system_users VALUES ('Rahul Patil', 1, 'Raspberry chocolate cupcakes', 123545685)")
c.execute("INSERT INTO system_users VALUES ('Shubham Koli', 2, 'Rose cupcakes', 12354685)")
c.execute("INSERT INTO system_users VALUES ('Vinita Mahajan', 3, 'Irish coffee macarons', 12354545)")
c.execute("INSERT INTO system_users VALUES ('Vitthal Patil', 4, 'Braided Easter bread', 12554685)")
c.execute("INSERT INTO system_users VALUES ('Prity Patel', 5, 'peanut butter chocolate cookies', 12574498)")
c.execute("INSERT INTO system_users VALUES ('Aarati Sinde', 6, 'Quick apple cake', 4258498)")
c.execute("INSERT INTO system_users VALUES ('Yash Jagatap', 7, 'American apple pie', 4234258498)")
c.execute("INSERT INTO system_users VALUES ('Dhanush Patil', 8, 'Blueberry muffins', 8745933254)")
# Commit the changes in database
conn.commit()

#Close the database connection
conn.close()

In [3]:
# Connect to the SQLite database
conn = sqlite3.connect('bakery.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Execute a SELECT query to fetch all data from the "users" table
cursor.execute('SELECT * FROM system_users')

# Fetch all the rows
rows = cursor.fetchall()

# Print the data
for row in rows:
    print(row)

('Rahul Patil', 1, 'Raspberry chocolate cupcakes', 123545685)
('Shubham Koli', 2, 'Rose cupcakes', 12354685)
('Vinita Mahajan', 3, 'Irish coffee macarons', 12354545)
('Vitthal Patil', 4, 'Braided Easter bread', 12554685)
('Prity Patel', 5, 'peanut butter chocolate cookies', 12574498)
('Aarati Sinde', 6, 'Quick apple cake', 4258498)
('Yash Jagatap', 7, 'American apple pie', 4234258498)
('Dhanush Patil', 8, 'Blueberry muffins', 8745933254)

# Python Bakery Management System With Pandas

In [11]:
import pandas as pd 
from datetime import datetime

# Create a Pandas DataFrame to store the bakery data
bakery_data = pd.DataFrame(columns=['Id','Name', "Order", 'Email', 'Mobile Num', 'Date', 'Time'])

# Get current date time 
now = datetime.now()
date = now.strftime("%d/%m/%Y")
time = now.strftime("%H:%M:%S")

# Function to add a new customer to the bakery data
def add_customer(Id, Name, Order, Email, Mobile):
    new_row ={'Id':Id,'Name':Name, "Order":Order, 'Email':Email, 'Mobile Num':Mobile, 'Date':date, 'Time':time}
    bakery_data.loc[len(bakery_data)] = new_row
    
# Add new row to the dataframe for each customer
# bakery_data.loc[0] = [1, 'Rahul Patil', 'Raspberry chocolate cupcakes',"" , 7385545685]
# bakery_data.loc[1] = [2, 'Shubham Koli', 'Rose cupcakes',"koli7845@gmail.com" , 7845662285]
# bakery_data.loc[2] = [3, 'Aarati Sinde', 'Irish coffee macarons',"sindeaart@gmail.com" , 7845662285]
# bakery_data.loc[3] = [4, 'Yashwant Jagtap', 'Braided Easter bread',"yashj4@gmail.com" , 7845662285]
# bakery_data.loc[4] = [5, 'Sunil Baviskar', 'American apple pie',"sunba@gmail.com" , 7845662285]
# bakery_data.loc[5] = [6, 'Priyanka Saindane', 'Blueberry muffins',"priyasi2@gmail.com" , 7845662285]

add_customer(1, 'Rahul Patil', 'Raspberry chocolate cupcakes',"" , 7385545685)
add_customer(2, 'Shubham Koli', 'Rose cupcakes',"koli7845@gmail.com" , 7845662285)
add_customer(3, 'Aarati Sinde', 'Irish coffee macarons',"sindeaart@gmail.com" , 7845662285)
add_customer(4, 'Yashwant Jagtap', 'Braided Easter bread',"yashj4@gmail.com" , 7845662285)
add_customer(5, 'Sunil Baviskar', 'American apple pie',"sunba@gmail.com" , 7845662285)
add_customer(6, 'Priyanka Saindane', 'Blueberry muffins',"priyasi2@gmail.com" , 7845662289)

#print Data set
print(bakery_data)

   Id               Name                         Order                Email  Mobile Num        Date      Time
0   1        Rahul Patil  Raspberry chocolate cupcakes                       7385545685  17/12/2023  13:22:52
1   2       Shubham Koli                 Rose cupcakes   koli7845@gmail.com  7845662285  17/12/2023  13:22:52
2   3       Aarati Sinde         Irish coffee macarons  sindeaart@gmail.com  7845662285  17/12/2023  13:22:52
3   4    Yashwant Jagtap          Braided Easter bread     yashj4@gmail.com  7845662285  17/12/2023  13:22:52
4   5     Sunil Baviskar            American apple pie      sunba@gmail.com  7845662285  17/12/2023  13:22:52
5   6  Priyanka Saindane             Blueberry muffins   priyasi2@gmail.com  7845662289  17/12/2023  13:22:52

In [14]:
add_customer(7, 'Divya Saindane', 'Blueberry muffins',"divya@gmail.com" , 7845662289)
add_customer(8, 'Deva Pandit', 'cake muffins',"deva@gmail.com" , 7845673289)

print(bakery_data)

   Id               Name                         Order                Email  Mobile Num        Date      Time
0   1        Rahul Patil  Raspberry chocolate cupcakes                       7385545685  17/12/2023  13:22:52
1   2       Shubham Koli                 Rose cupcakes   koli7845@gmail.com  7845662285  17/12/2023  13:22:52
2   3       Aarati Sinde         Irish coffee macarons  sindeaart@gmail.com  7845662285  17/12/2023  13:22:52
3   4    Yashwant Jagtap          Braided Easter bread     yashj4@gmail.com  7845662285  17/12/2023  13:22:52
4   5     Sunil Baviskar            American apple pie      sunba@gmail.com  7845662285  17/12/2023  13:22:52
5   6  Priyanka Saindane             Blueberry muffins   priyasi2@gmail.com  7845662289  17/12/2023  13:22:52
6   7     Divya Saindane             Blueberry muffins      divya@gmail.com  7845662289  17/12/2023  13:22:52
7   8        Deva Pandit                  cake muffins       deva@gmail.com  7845673289  17/12/2023  13:22:52
8   7     Divya Saindane             Blueberry muffins      divya@gmail.com  7845662289  17/12/2023  13:22:52
9   8        Deva Pandit                  cake muffins       deva@gmail.com  7845673289  17/12/2023  13:22:52